* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

button {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

video {
  -webkit-tap-highlight-color: transparent;
}
